In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("tabula-cora.csv", header=None)

In [11]:
df.head()

,0,1,2,3
0,"Blick,Brian",Administrator II,911 Emergency Communications,"81,878.64"
1,"Bodine,Andrew",Agency Trainer,911 Emergency Communications,"66,791.38"
2,"Kleber,Bret",Agency Trainer,911 Emergency Communications,"60,237.43"
3,"Rothenberger,Helena",Agency Trainer,911 Emergency Communications,"65,324.76"
4,"Carroll,Suzanne",Agency Training Supv,911 Emergency Communications,"79,495.23"

In [12]:
df = df.rename(columns={0: 'Name'})
df = df.rename(columns={1: 'Position'})
df = df.rename(columns={2: 'Department'})
df = df.rename(columns={3: 'Salary'})

In [13]:
df.head()

,Name,Position,Department,Salary
0,"Blick,Brian",Administrator II,911 Emergency Communications,"81,878.64"
1,"Bodine,Andrew",Agency Trainer,911 Emergency Communications,"66,791.38"
2,"Kleber,Bret",Agency Trainer,911 Emergency Communications,"60,237.43"
3,"Rothenberger,Helena",Agency Trainer,911 Emergency Communications,"65,324.76"
4,"Carroll,Suzanne",Agency Training Supv,911 Emergency Communications,"79,495.23"

In [18]:
df['Salary'].value_counts().mean()

1.973720822383676

In [22]:
df['Position'].value_counts().head(5)

Recreation Instructor       593
Police Officer 1st Grade    581
Deputy Sheriff              503
Election Judges             435
Lifeguard                   331
Name: Position, dtype: int64